# Virtual environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Data
#data/
data/raw/

# Database
*.db
*.sqlite3

# Node
node_modules/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
data/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
